## General

# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# build, distribute, and bins
build/*
distribute/*
*.testbin
*.bin
python/caffe/proto/

# Editor temporaries
*.swp
*~

# IPython notebook checkpoints
.ipynb_checkpoints

## Caffe

# User's build configuration
Makefile.config

# Data and examples are either
# 1. reference, and not casually committed
# 2. custom, and live on their own unless they're deliberated contributed
data/*
examples/*

# Generated documentation
docs/_site
_site

# Sublime Text settings
*.sublime-workspace
*.sublime-project

