# Compiled Object files
*.slo
*.lo
*.o
*.cuo
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled protocol buffers
*.pb.h
*.pb.cc
*_pb2.py

# bin files
*.testbin
*.bin

# vim swp files
*.swp

# matlab binary
*.mexa64

# IPython notebook checkpoints
.ipynb_checkpoints

# anything under data/ unless we force include them
data/*

# anything under distribute
distribute/*

# user's specified config
Makefile.config
