language: cpp
compiler:
  - gcc
  - clang
before_install:
  - echo $LANG
  - echo $LC_ALL
  - sudo apt-get -y update
install:
  - sudo apt-get -y install wget git curl python-dev libprotobuf-dev libleveldb-dev libsnappy-dev libopencv-dev libboost-all-dev libhdf5-serial-dev protobuf-compiler libatlas-dev libatlas-base-dev
  - wget https://google-glog.googlecode.com/files/glog-0.3.3.tar.gz -O /tmp/glog-0.3.3.tar.gz && tar -C /tmp -xzvf /tmp/glog-0.3.3.tar.gz && rm /tmp/glog-0.3.3.tar.gz
  - cd /tmp/glog-0.3.3 && ./configure && make && sudo make install && cd -
  - curl http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1204/x86_64/cuda-repo-ubuntu1204_6.0-37_amd64.deb -o /tmp/cuda_install.deb && sudo dpkg -i /tmp/cuda_install.deb && rm /tmp/cuda_install.deb
  - sudo apt-get -y update && sudo apt-get -y install cuda
  - curl https://gitorious.org/mdb/mdb/archive/7f038d0f15bec57b4c07aa3f31cd5564c88a1897.tar.gz -o /tmp/mdb.tar.gz && tar -C /tmp -xzvf /tmp/mdb.tar.gz && rm /tmp/mdb.tar.gz
  - cd /tmp/mdb-mdb/libraries/liblmdb/ && make && sudo make install && cd -
before_script:
  - mv Makefile.config.example Makefile.config
script:
  - make all
  - make test
  - LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda/lib64 make runtest
branches:
  only:
    - master
    - dev
    - travisci
notifications:
  recipients:
    - huy@huyng.com
  email:
    on_success: change
    on_failure: always
  irc:
    channels:
      - "chat.freenode.net#caffe"
    template:
      - "%{repository}/%{branch} (%{commit} - %{author}): %{message}"
os:
  - linux
  - osx
