<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.59.0.0" targetFramework="Native" />
  <package id="boost_chrono-vc120" version="1.59.0.0" targetFramework="Native" />
  <package id="boost_date_time-vc120" version="1.59.0.0" targetFramework="Native" />
  <package id="boost_filesystem-vc120" version="1.59.0.0" targetFramework="Native" />
  <package id="boost_python2.7-vc120" version="1.59.0.0" targetFramework="Native" />
  <package id="boost_system-vc120" version="1.59.0.0" targetFramework="Native" />
  <package id="boost_thread-vc120" version="1.59.0.0" targetFramework="Native" />
  <package id="gflags" version="2.1.2.1" targetFramework="Native" />
  <package id="glog" version="0.3.3.0" targetFramework="Native" />
  <package id="hdf5-v120-complete" version="1.8.15.2" targetFramework="Native" />
  <package id="LevelDB-vc120" version="1.2.0.0" targetFramework="Native" />
  <package id="lmdb-v120-clean" version="0.9.14.0" targetFramework="Native" />
  <package id="OpenBLAS" version="0.2.14.1" targetFramework="Native" />
  <package id="OpenCV" version="2.4.10" targetFramework="Native" />
  <package id="protobuf-v120" version="2.6.1" targetFramework="Native" />
  <package id="protoc_x64" version="2.6.1" targetFramework="Native" />
</packages>